*{
    overflow: auto;
}

body {
    background-color: #8BA1BB;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
p.category{
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: -15px;
    margin-bottom: 0px;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 16px;
}
div.content{
    background-color: white;
    margin: 40px 8px 40px 8px;
    padding: 0px 8px 20px 8px;
    /*min-width: 350px;*/
    box-shadow: 0px 0px 08px 08px rgba(0, 0, 0, 0.1);
    overflow: visible;
    max-width: 650px;
}
h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 12px;
}
p.description {
    text-align: center;
    max-width: 400px;
    font-size: 14px;
    display: inline-block;
}
.center{
    text-align: center;
    width: 100%;
}
div.category{
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
}
div.separator{
    background-color: black;
    width: 100px;
    height: 1px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
div.info{
    position: relative"
}
table.info{
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #6C829DC0;
    height: 50px;
    margin-top: -78px;
}
/* All the tds in the table that has info class */
table.info th{
    
    vertical-align: bottom;
    padding-bottom: 8px;
    font-size: 14px;
}
table.info td{
    text-align: center;
    vertical-align: top;
    font-size: 12px;
}
img.info{
    style = display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color:lightgray;
}
div.col{
    width: 100%;
    margin-top: 20px;
}
div.col h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C829D;
    padding: 5px;
}
div.col01{
    display: inline-block;
    /*margin-right: 10%;*/
    margin-bottom: 20px;
}
div.col02{
    /*float: right;*/
}

div.ingredients p {
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgray;
    padding: 8px 10px;
    margin-top: 4px;
    margin-bottom: 0;
    display: block;
    
}
table.instructions p.number {
    background-color: #6C829D;
    color: white;
    font-weight: bold;
    font-size: 14px;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}
table.instructions td.instructions_steps {
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}
table.instructions td {
    vertical-align: top;
}
table.instructions tr {
    height: 40px;
}
/* Desktop styles*/
@media only screen and (min-width: 768px) {
    div.content{
        margin: 60px 10% 80px 10%;
        padding: 30px;
        min-width: 350px;
    }
    table.info {
        height: 80px;
    }
    table.info th{
        font-size: 16px;
    }
    table.info td{
        font-size: 14px;
    }
    div.col{
        width: 45%;
    }
    div.col01{
        margin-right: 10%;
    }
    div.col02{
        float: right;
    }
}
/* Very lagrg screen style */
@media only screen and (min-width: 900px) {
    div.content{
        margin-left: auto;
        margin-right: auto;
        width: 650px;
    }
}